import init.ventana.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

# create mountpoints for storage
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard 0000 system system

    mkdir /mnt/shell/sdcard-ext 0700 shell shell
    mkdir /storage/sdcard-ext 0555 root root

    export EXTERNAL_STORAGE /storage/sdcard

    # Support legacy paths
    symlink /storage/sdcard /sdcard
    symlink /storage/sdcard /mnt/sdcard
    symlink /storage/sdcard /storage/sdcard0

# Backward compatibility
    symlink /system/bin /bin

    setprop gsm.version.baseband  TD-SCDMA-mosajon

on fs
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/APP /system wait ro
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/UDA /data wait noatime nosuid nodev journal_async_commit,data=writeback,nodelalloc,errors=panic
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/CAC /cache wait noatime nosuid nodev journal_async_commit,data=writeback,nodelalloc,errors=panic

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/nvcam 0775 system system
    chown dhcp dhcp /data/misc/dhcp
    mkdir /cache/fota 0770
    mkdir /cache/recovery 0770
    mkdir /data/dm 0770
	
    chmod 0777 /cache/fota
    chmod 0777 /cache/recovery
    chmod 0777 /data/dm 0770
	
    mkdir /data/dm/delta 0770
    chmod 0777 /data/dm/delta 0770

    mkdir /data/dm/temp 0770
    chmod 0777 /data/dm/temp 0770
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media
    chown media_rw media_rw /intern_sdcard
    setprop vold.post_fs_data_done 2

on boot
# bluetooth
    chmod 0660 /dev/ttyHS2
    chown bluetooth bluetooth /dev/ttyHS2
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown system system /sys/devices/platform/modem_control/download
    chown system system /sys/devices/platform/modem_control/usb_switch
    chown system system /sys/class/timed_output/keybd_led/enable
    chown system system /sys/class/timed_output/led_green_zte/enable
    chown system system /sys/class/timed_output/led_red_zte/enable
    symlink /dev/socket/wpa_wlan0 /data/system/wpa_supplicant/wlan0
    symlink /dev/socket/wpa_wlan0 /data/misc/wifi/sockets/wlan0

    mkdir /data/misc/wifi 0770 wifi wifi
    chmod 0777 /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    chown wifi wifi /data/misc/wifi
    chmod 0770 /data/misc/wifi
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    chmod 0770 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    setprop wifi.interface wlan0

    chown root radio /proc/cmdline
    chmod  777  /system/etc/ppp/peers  *
    chmod  777  /system/etc/ppp        *

    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /system/etc/bluetooth
    setprop ro.bt.bdaddr_path "/system/etc/bluetooth/bdaddr"
    chmod 777 /system/bin/btld

# audio
    chmod 0664 /sys/power/suspend/mode
    chown system audio /sys/power/suspend/mode

# backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness

# CMMB/*Add by liuyuan 10110632 for cmmb devices*/
    chmod 777 /dev/mdtv1
    chmod 777 /dev/mdtv2
    chmod 777 /dev/mdtv3
    chmod 777 /dev/mdtv4
    chmod 777 /dev/mdtv5
    chmod 777 /dev/mdtv6
    chmod 777 /dev/mdtv7
    chmod 777 /dev/mdtv8
    chmod 777 /dev/mdtv9
    chmod 777 /dev/mdtv10
    chmod 777 /dev/mdtv11
    chmod 777 /dev/mdtv12
    chmod 777 /dev/mdtv13
    chmod 777 /dev/mdtv14
    chmod 777 /dev/mdtv15
    chmod 777 /dev/mdtv16
    chmod 777 /dev/mdtvctrl
	
# Sensor
    chmod 666 /dev/nvhost-ctrl
    chmod 666 /dev/nvhost-display
    chmod 666 /dev/nvhost-dsi
    chmod 666 /dev/nvhost-gr2d
    chmod 666 /dev/nvhost-gr3d
    chmod 666 /dev/nvhost-isp
    chmod 666 /dev/nvhost-mpe
    chmod 666 /dev/nvhost-vi
    chmod 664 /sys/bus/iio/devices/device0/illuminance0_input
    chmod 664 /sys/bus/iio/devices/device0/proximity_raw

#l3g4200dtr gyro
    chown system system /sys/class/i2c-dev/i2c-0/device/0-0069/pollrate_ms
    chown system system /sys/class/i2c-dev/i2c-0/device/0-0069/enable
    chown system system /sys/class/i2c-dev/i2c-0/device/0-0069/range

#kxt1004 accel
    chown system system /sys/class/i2c-dev/i2c-0/device/0-000f/pollrate_ms
    chown system system /sys/class/i2c-dev/i2c-0/device/0-000f/enable
    chown system system /sys/class/i2c-dev/i2c-0/device/0-000f/range
	
#lis3dh accel
    chown system system /sys/class/i2c-dev/i2c-0/device/0-0019/pollrate_ms
    chown system system /sys/class/i2c-dev/i2c-0/device/0-0019/enable
    chown system system /sys/class/i2c-dev/i2c-0/device/0-0019/range

# Power management settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 216000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1200000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
	#write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 216000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1200000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
	#write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load 95
    write /sys/devices/system/cpu/cpufreq/interactive/boost_factor 2
    write /sys/devices/system/cpu/cpufreq/interactive/sustain_load 95	
    write /sys/module/cpuidle/parameters/lp2_in_idle 1

# Touchscreen Config-UI interface
   chmod 666 /sys/devices/platform/tegra-i2c.0/i2c-0/0-005a/debug_enable
   chmod 666 /sys/devices/platform/tegra-i2c.0/i2c-0/0-005a/pause_driver
   chmod 666 /sys/devices/platform/tegra-i2c.0/i2c-0/0-005a/slowscan_enable

# Default Read Ahead value for sdcards
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048


    write /sys/class/gpio/export 164
    write /sys/class/gpio/gpio164/direction out
    write /sys/class/gpio/gpio164/value 0
    chown gps system /sys/class/gpio/gpio164/value
    write /sys/class/gpio/export 163
    write /sys/class/gpio/gpio163/direction out
    write /sys/class/gpio/gpio163/value 1
    chown gps system /sys/class/gpio/gpio163/value

# Load WiFi driver
    insmod /system/lib/modules/bcmdhd.ko

service app6939 /system/bin/app6939
    class main
    user root

service wpa_supplicant /system/bin/wpa_supplicant -iwlan0 -Dnl80211 -e/data/misc/wifi/entropy.bin -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot
service p2p_supplicant /system/bin/wpa_supplicant -iwlan0 -Dnl80211 -e/data/misc/wifi/entropy.bin -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot


service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL -f/system/etc/dhcpcd/dhcpcd.conf
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot



# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys
service bugreport /system/bin/dumpstate -d -v -o /data/storage/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 115 114


    
service hciattach /system/bin/brcm_patchram_plus --enable_hci --no2bytes --scopcm=0,2,0,0,0,0,0,0,0,0 \
    --baudrate 3000000 --patchram /etc/firmware/bcm4330.hcd --enable_lpm --tosleep 50000 --use_baudrate_for_download /dev/ttyHS2
    class main
    user bluetooth
    group bluetooth net_bt_admin system
    disabled


# Start GPS daemon
  on boot
  chown root system /dev/ttyHS1
  chmod 0664 /dev/ttyHS1
service gps-daemon /system/bin/glgps_nvidiaTegra2android -c /system/etc/gps/gpsconfig.xml
  user gps
  socket gps seqpacket 0660 gps system
  group system inet sdcard_rw
  class late_start

# Mount usb drives as /usbdrive. Generally usb drives are formatted with FAT
# filesystem, so we support FAT as of now.
on device-added-/sys/block/sda
    mount vfat /dev/block/sda /mnt/usbdrive

on device-removed-/sys/block/sda
    umount /mnt/usbdrive

on post-fs
    mkdir /data/var 0777 system system
    mkdir /data/var/run 0777 system system
    mkdir /data/var/lock 0777 system system
    symlink /data/var  /var


# Recovery daemon: configure MSC partition
service recoveryd /system/bin/recoveryd /dev/block/platform/sdhci-tegra.3/by-name/MSC
    disabled
    class main
    user root
    group root
    oneshot

on property:sys.shutdown.requested=1recovery
    start recoveryd

# Prepare TF service
service tf_daemon /system/bin/tf_daemon -storageDir /data/tf -d
    disabled
    class main
    user root
    group shell
    oneshot

# create filesystems if necessary
service setup_fs /system/bin/setup_fs \
        /dev/block/platform/sdhci-tegra.3/by-name/UDA \
        /dev/block/platform/sdhci-tegra.3/by-name/CAC
    class core
    user root
    group root
    oneshot

# Create data directory and start service
on property:tf.enable=y
    mkdir /data/tf
    start tf_daemon
    
# Enable NvCpuD, and set it to never poll config again
on boot
    setprop nvcpud.enabled true
    setprop nvcpud.config_refresh_ms -1

service nvcpud /system/bin/nvcpud
    class main
    user root
    group root


service gsmmuxd /system/bin/gsmmuxd -b 4000000 /dev/ttyHS0
#   user radio
#   group radio
    disabled
on property:zte.service.gsmmuxd.enable=1
    start gsmmuxd
on property:zte.service.gsmmuxd.enable=0
    stop gsmmuxd

# Begin: denglibin@20110923
service atcmdsrv /system/bin/atcmdsrv
#   user radio
#   group radio
    disabled

on property:zte.service.atcmdsrv.enable=1
    start atcmdsrv

on property:zte.service.atcmdsrv.enable=0
    stop atcmdsrv
# End: denglibin@20110923

# Begin: denglibin@20111218
service usbcfgd /system/bin/usbcfgd
    disabled

on property:zte.service.usbcfgd.enable=1
    start usbcfgd

on property:zte.service.usbcfgd.enable=0
    stop usbcfgd
# End: denglibin@20111218

service compass_daemon /system/bin/akmd8962
    class main
    user root
    oneshot


# Start kernel driver (for BTHID)
#    insmod /system/lib/modules/bthid.ko

service btld /system/bin/logwrapper /system/bin/btld -lpm 1 -hb 3000000
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

# start btld if soft_onoff is enabled
on property:service.brcm.bt.soft_onoff=1
    start btld

# stop btld if soft_onoff is disabled
on property:service.brcm.bt.soft_onoff=0
    stop btld

#STOPSHIP: Remove logwrapper and -d option before production
service bluetoothd /system/bin/logwrapper /system/bin/bluetoothd -d -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
# init.rc does not yet support applying capabilities, so run as root and
# let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

